.fibreSource,
.fibreTarget,
line,
path{
    stroke-linecap: round;
}

.fibreSource,
.fibreTarget{
  transition: 3s linear;
}

.fibreSource.selected,
.fibreTarget.selected{
  transition: 2s ease-out;
}

.fibreSource.selected rect{
    opacity: 1;
}

line{
  transition: visibility 1s, opacity 0.4s linear;
}
