.fibreSource,
.fibreTarget,
line,
path{
    stroke-linecap: round;
}

.fibreSource,
.fibreTarget{
  transition: 3s linear;
}

.fibreSource.selected,
.fibreTarget.selected{
  transition: 2s ease-out;
}

.fibreSource.selected rect{
    opacity: 1;
}

line{
  transition: visibility 1s, opacity 0.4s linear;
}

svg{
    stroke: black;
    stroke-width: 1;
}

@media all and (max-width: 600px) {
    text{
        font-size: 12pt;
        stroke: none;
    }
    svg, .content{
        min-width: 100%;
    }
    .name{
        text-align: center;
    }
    .btn{
        font-size: 16pt;
    }
}
