html, body, .game, .h100{
  height: 100%;
  margin: 0;
  overflow: hidden;
}
.content {
    padding: 0;
    height: 85%;
    margin: 0 auto -50px;
    border: 1px solid #333;
}

html, section, body, footer, div, p, .h100, .content {
  box-sizing: border-box;
}
body {
  font: 16px Sans-Serif;
}

p {
  margin: 20px 0 0 0;
}

header {
  color: white;
  padding: 0 20px;
  line-height: 50px;
  background: #2980b9;
  min-height: 50px;
}

.name {
  margin: 0 0 20px 0;
  color: #ecf0f1;
}

.w100{
  width: 100%;
}
